@import url(//fonts.googleapis.com/css?family=Merriweather:400,300,700|Oxygen:400,300,700);
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 4% 0 4% 4%; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before, .group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
  width: 100%; }

.span_3_of_4 {
  width: 74%; }

.span_2_of_4 {
  width: 48%; }

.span_1_of_4 {
  width: 22%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 2% 0 2% 0%; }

  .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 {
    width: 100%; } }
body {
  font-family: "Oxygen", sans-serif;
  background-color: #efebf7;
  color: black;
  line-height: 150%; }
  body a {
    text-decoration: none;
    font-weight: bold; }
    body a:hover {
      color: #FFC107; }
  body:hover {
    cursor: default; }
  body h1 {
    font-family: "Merriweather", serif;
    font-size: 2em;
    font-weight: bold; }
  body h2 {
    font-family: "Merriweather", serif;
    font-size: 1.5em; }

.header {
  position: relative;
  width: 100%;
  height: 5.5em;
  background-color: #673ab7;
  color: white; }
  .header a {
    color: white; }
  .header .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
    .header .container .site-title {
      font-family: "Oxygen", sans-serif;
      font-weight: bold;
      font-size: 2em;
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%); }
      .header .container .site-title .notix-logo {
        height: 1.8em;
        vertical-align: middle; }
      .header .container .site-title:hover {
        cursor: pointer; }
    .header .container .navlinks {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      right: 0; }
      .header .container .navlinks li {
        float: left;
        margin-left: 2em; }

.footer {
  display: inline-block;
  width: 100%; }
  .footer a {
    color: white; }
  .footer .container {
    color: white;
    background-color: #3d226d;
    padding: 2.5% 5%;
    text-align: center; }

.home {
  display: inline-block;
  width: 100%; }
  .home .parallax {
    position: relative;
    background-image: url("../img/hcet-bg.png");
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white; }
    .home .parallax p {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      font-family: "Merriweather", serif;
      font-size: 3em;
      font-weight: bold;
      text-align: center;
      line-height: 125%; }
  .home .container {
    padding: 0;
    width: 80%;
    margin: 0 auto;
    clear: both; }
    .home .container .login-form p {
      font-family: "Merriweather", serif;
      font-weight: bold;
      font-size: 2em;
      color: #3d226d; }
    .home .container .login-form form {
      margin: 1.2em 0 0 0;
      padding: 0; }
      .home .container .login-form form div {
        width: 100%;
        text-align: center; }
      .home .container .login-form form input {
        margin: 1.2em 0 0 0;
        font-family: "Oxygen", sans-serif;
        font-size: 1.2em;
        font-weight: lighter; }
      .home .container .login-form form .form-fields {
        padding: 0.5em;
        width: 100%;
        box-sizing: border-box; }
      .home .container .login-form form .login-btn {
        background-color: #3d226d;
        color: white;
        border: none;
        padding: 1em 0;
        margin: 1.5em 0 0 0;
        width: 100%; }
        .home .container .login-form form .login-btn:hover {
          background-color: rgba(61, 34, 109, 0.8);
          cursor: pointer; }
  .home .container .message-box .wrapper {
    padding: 2em;
    background-color: #d1c3e9;
    border: 2px solid #3d226d;
    border-radius: 25px; }
    .home .container .message-box .wrapper h1 {
      font-family: "Merriweather", serif;
      font-weight: bold;
      font-size: 2em; }
    .home .container .message-box .wrapper p {
      margin: 1.2em 0; }

.admin-header {
  position: relative;
  line-height: 120%;
  width: 100%;
  height: 5em;
  font-size: 3em;
  color: white;
  background: url("../img/admin-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .admin-header a {
    color: white;
    cursor: pointer; }
  .admin-header .container {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
    .admin-header .container .page-title {
      font-size: 0.6em; }
    .admin-header .container .navlinks {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      right: 0; }
      .admin-header .container .navlinks li {
        float: left;
        margin-left: 2em; }
      .admin-header .container .navlinks button.ghost {
        font-family: "Oxygen", sans-serif;
        background-color: transparent;
        font-size: 0.5em;
        border: 2px solid white;
        color: white;
        padding: 0em;
        box-sizing: border-box;
        width: 100px;
        height: 50px;
        text-align: center;
        border-radius: 3px;
        transition: all 0.35s ease-in-out; }
        .admin-header .container .navlinks button.ghost:hover {
          background-color: rgba(61, 34, 109, 0.6);
          color: #fff;
          cursor: pointer; }

.admin {
  display: inline-block;
  width: 100%; }
  .admin .container {
    padding: 0;
    width: 80%;
    margin: 0 auto;
    clear: both; }
    .admin .container .login-form p {
      font-family: "Merriweather", serif;
      font-weight: bold;
      font-size: 2em;
      color: #3d226d; }
    .admin .container .login-form form {
      margin: 1.2em 0 0 0;
      padding: 0; }
      .admin .container .login-form form div {
        width: 100%;
        text-align: center; }
      .admin .container .login-form form input {
        margin: 1.2em 0 0 0;
        font-family: "Oxygen", sans-serif;
        font-size: 1.2em;
        font-weight: lighter; }
      .admin .container .login-form form .form-fields {
        padding: 0.5em;
        width: 100%;
        box-sizing: border-box; }
      .admin .container .login-form form .login-btn {
        background-color: #3d226d;
        color: white;
        border: none;
        padding: 1em 0;
        margin: 1.5em 0 0 0;
        width: 100%; }
        .admin .container .login-form form .login-btn:hover {
          background-color: rgba(61, 34, 109, 0.8);
          cursor: pointer; }

.admin-home {
  display: inline-block;
  width: 100%; }
  .admin-home .container {
    width: 80%;
    margin: 2em auto; }
    .admin-home .container .tile-grid .tile-item {
      background: #673ab7;
      height: 250px;
      width: 250px;
      position: relative;
      color: white;
      font-size: 2em; }
      .admin-home .container .tile-grid .tile-item p {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); }
      .admin-home .container .tile-grid .tile-item:hover {
        cursor: pointer;
        background: rgba(103, 58, 183, 0.8); }

.admin-addFaculty, .admin-updateFaculty {
  display: inline-block;
  width: 100%; }
  .admin-addFaculty .container, .admin-updateFaculty .container {
    width: 80%;
    margin: 2em auto; }
    .admin-addFaculty .container section form, .admin-updateFaculty .container section form {
      margin: 1em 0; }
      .admin-addFaculty .container section form input, .admin-updateFaculty .container section form input {
        font-family: "Oxygen", sans-serif;
        font-size: 1.1em;
        padding: 0.5%;
        margin-right: 1%; }

.admin-editFaculty {
  display: inline-block;
  width: 100%; }
  .admin-editFaculty .container {
    width: 80%;
    margin: 2em auto; }
    .admin-editFaculty .container table {
      width: 100%; }
      .admin-editFaculty .container table a {
        color: inherit; }
        .admin-editFaculty .container table a:hover {
          color: #FFC107; }
      .admin-editFaculty .container table th {
        padding: 1em;
        font-weight: bold;
        color: white;
        background: #673ab7; }
      .admin-editFaculty .container table td {
        text-align: center;
        padding: 1em; }
      @media screen and (max-width: 48em) {
        .admin-editFaculty .container table .hidable {
          display: none; }
        .admin-editFaculty .container table th, .admin-editFaculty .container table td {
          padding: 0.5em; } }

.faculty-header {
  position: relative;
  line-height: 120%;
  width: 100%;
  height: 5em;
  font-size: 3em;
  color: white;
  background: url("../img/faculty-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .faculty-header a {
    color: white;
    cursor: pointer; }
  .faculty-header .container {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
    .faculty-header .container .page-title {
      font-size: 0.6em; }
    .faculty-header .container .navlinks {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      right: 0; }
      .faculty-header .container .navlinks li {
        float: left;
        margin-left: 2em; }
      .faculty-header .container .navlinks button.ghost {
        font-family: "Oxygen", sans-serif;
        background-color: transparent;
        font-size: 0.5em;
        border: 2px solid black;
        color: black;
        padding: 0em;
        box-sizing: border-box;
        width: 100px;
        height: 50px;
        text-align: center;
        border-radius: 3px;
        transition: all 0.35s ease-in-out; }
        .faculty-header .container .navlinks button.ghost:hover {
          background-color: rgba(61, 34, 109, 0.6);
          color: #fff;
          cursor: pointer; }

.faculty-home {
  display: inline-block;
  width: 100%; }
  .faculty-home .container {
    width: 80%;
    margin: 2em auto; }
    .faculty-home .container .tile-grid .tile-item {
      background: #673ab7;
      height: 250px;
      width: 250px;
      position: relative;
      color: white;
      font-size: 2em; }
      .faculty-home .container .tile-grid .tile-item p {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); }
      .faculty-home .container .tile-grid .tile-item:hover {
        cursor: pointer;
        background: rgba(103, 58, 183, 0.8); }

.faculty-createNotification {
  display: inline-block;
  width: 100%; }
  .faculty-createNotification .container {
    width: 80%;
    margin: 2em auto; }
    .faculty-createNotification .container form {
      margin: 1em 0; }
      .faculty-createNotification .container form input {
        font-family: "Oxygen", sans-serif;
        font-size: 1.1em;
        padding: 1.2%; }
        .faculty-createNotification .container form input[type="submit"] {
          margin: 2% 0; }
      .faculty-createNotification .container form textarea {
        font-family: "Oxygen", sans-serif;
        font-size: 1.1em;
        padding: 1.2%;
        vertical-align: top; }

.faculty-deleteNotifications {
  display: inline-block;
  width: 100%; }
  .faculty-deleteNotifications .container {
    width: 80%;
    margin: 2em auto; }

.faculty-profile {
  display: inline-block;
  width: 100%; }
  .faculty-profile .container {
    width: 80%;
    margin: 2em auto; }

/*# sourceMappingURL=style.css.map */
