@import url(//fonts.googleapis.com/css?family=Merriweather:400,300,700|Oxygen:400,300,700);
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.col {
  display: block;
  float: left;
  margin: 4% 0 4% 4%;
  /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */ }
  .col:first-child {
    margin-left: 0; }
  @media only screen and (max-width: 768px) {
    .col {
      margin: 1% 0 1% 0%; } }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
  /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */ }
  @media only screen and (max-width: 768px) {
    .span_2_of_2 {
      width: 100%;
      margin: 5% 0; } }

.span_1_of_2 {
  width: 48%;
  /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */ }
  @media only screen and (max-width: 768px) {
    .span_1_of_2 {
      width: 100%;
      margin: 5% 0; } }

body {
  font-family: "Oxygen", sans-serif;
  background-color: #efebf7;
  color: black;
  line-height: 1.5em; }
  body a {
    text-decoration: none;
    font-weight: bold;
    color: white; }
    body a:hover {
      color: #FFC107; }
  body:hover {
    cursor: default; }

.header {
  position: relative;
  width: 100%;
  height: 5.5em;
  background-color: #673ab7;
  color: white; }
  .header .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
    .header .container .site-title {
      font-family: "Oxygen", sans-serif;
      font-weight: bold;
      font-size: 2em;
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%); }
      .header .container .site-title .notix-logo {
        height: 1.8em;
        vertical-align: middle; }
      .header .container .site-title:hover {
        cursor: pointer; }
    .header .container .navlinks {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      right: 0; }
      .header .container .navlinks li {
        float: left;
        margin-left: 2em; }

.footer {
  width: 100%;
  display: inline-block; }
  .footer .container {
    color: white;
    background-color: #3d226d;
    padding: 2.5% 5%;
    text-align: center; }

.home {
  display: inline-block;
  width: 100%; }
  .home .parallax {
    position: relative;
    background-image: url("../img/hcet-bg.png");
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white; }
    .home .parallax p {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      font-family: "Merriweather", serif;
      font-size: 3em;
      font-weight: bold;
      text-align: center;
      line-height: 125%; }
  .home .container {
    padding: 0;
    width: 80%;
    margin: 0 auto;
    clear: both; }
    .home .container .login-form p {
      font-family: "Merriweather", serif;
      font-weight: bold;
      font-size: 2em;
      color: #3d226d; }
    .home .container .login-form form {
      margin: 1.2em 0 0 0;
      padding: 0; }
      .home .container .login-form form div {
        width: 100%;
        text-align: center; }
      .home .container .login-form form input {
        margin: 1.2em 0 0 0;
        font-family: "Oxygen", sans-serif;
        font-size: 1.2em;
        font-weight: lighter; }
      .home .container .login-form form .form-fields {
        padding: 0.5em;
        width: 100%;
        box-sizing: border-box; }
      .home .container .login-form form .login-btn {
        background-color: #3d226d;
        color: white;
        border: none;
        padding: 1em 0;
        margin: 1.5em 0 0 0;
        width: 100%; }
        .home .container .login-form form .login-btn:hover {
          background-color: rgba(61, 34, 109, 0.8);
          cursor: pointer; }
  .home .container .message-box .wrapper {
    padding: 2em;
    background-color: #d1c3e9;
    border: 2px solid #3d226d;
    border-radius: 25px; }
    .home .container .message-box .wrapper h1 {
      font-family: "Merriweather", serif;
      font-weight: bold;
      font-size: 2em; }
    .home .container .message-box .wrapper p {
      margin: 1.2em 0; }

.admin {
  display: inline-block;
  width: 100%; }
  .admin .container {
    padding: 0;
    width: 80%;
    margin: 0 auto;
    clear: both; }
    .admin .container .login-form p {
      font-family: "Merriweather", serif;
      font-weight: bold;
      font-size: 2em;
      color: #3d226d; }
    .admin .container .login-form form {
      margin: 1.2em 0 0 0;
      padding: 0; }
      .admin .container .login-form form div {
        width: 100%;
        text-align: center; }
      .admin .container .login-form form input {
        margin: 1.2em 0 0 0;
        font-family: "Oxygen", sans-serif;
        font-size: 1.2em;
        font-weight: lighter; }
      .admin .container .login-form form .form-fields {
        padding: 0.5em;
        width: 100%;
        box-sizing: border-box; }
      .admin .container .login-form form .login-btn {
        background-color: #3d226d;
        color: white;
        border: none;
        padding: 1em 0;
        margin: 1.5em 0 0 0;
        width: 100%; }
        .admin .container .login-form form .login-btn:hover {
          background-color: rgba(61, 34, 109, 0.8);
          cursor: pointer; }

/*# sourceMappingURL=style.css.map */
