.faculty-home {
    @include flow-fix();
    .container{
        width: 80%;
        margin: 2em auto;
        form {
            margin: 1em 0;
            input {
                font-family: $oxygen;
                font-size: 1.1em;
                padding: 1.2%;

                &[type="submit"] {
                    margin: 2% 0;
                }
            }
            textarea {
                font-family: $oxygen;
                font-size: 1.1em;
                padding: 1.2%;
                vertical-align: top;
            }
        }
    }
}