.home {
    @include flow-fix();

    .parallax {
        position: relative;
        background-image: url("../img/hcet-bg.png");
        height: 400px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: white;
        
        p {
            @include vh-center();
            font-family: $merriweather;
            font-size: 3em;
            font-weight: bold;
            text-align: center;
            line-height: 125%;
        }
    }

    @include login-mixin();

    .container {
        .message-box {
            .wrapper {
                padding: 2em;
                background-color: #d1c3e9;
                border: 2px solid #3d226d;
                border-radius: 25px;
                h1 {
                    font-family: $merriweather;
                    font-weight: bold;
                    font-size: 2em;
                }
                p {
                    margin: 1.2em 0;
                }
            }
        }
    }
}