.header {
    position: relative;
    width: 100%;
    height: 5.5em;
    background-color: $theme-color-light;
    color: white;

    a {
        color: white;
    }

    .container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        @include vh-center();

        .site-title {
            font-family: $oxygen;
            font-weight: bold;
            font-size: 2em;
            display: inline-block;
            @include v-center(absolute);

            .notix-logo {
                height: 1.8em;
                vertical-align: middle;
            }

            &:hover {
                cursor: pointer;
            }
        }
        .navlinks {
            @include v-center(absolute);
            right: 0;

            li {
                float: left;
                margin-left: 2em;
            }
        }
    }
}